# =========================
# Maven / Java
# =========================
target/
**/target/
*.class
*.jar
*.war
*.ear
*.log

# Maven Wrapper (оставляем wrapper jar, он нужен)
!.mvn/wrapper/maven-wrapper.jar

# =========================
# IntelliJ IDEA
# =========================
.idea/
*.iml
*.iws
*.ipr
out/

# если хочешь оставить часть конфигов (опционально)
!.idea/misc.xml
!.idea/modules.xml

# =========================
# Eclipse / STS
# =========================
.classpath
.project
.settings/
.factorypath
.springBeans
.sts4-cache

# =========================
# NetBeans
# =========================
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# =========================
# Gradle (на всякий случай)
# =========================
.gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

# =========================
# VS Code
# =========================
.vscode/

# =========================
# OS files
# =========================
.DS_Store
Thumbs.db

# =========================
# Logs / temp
# =========================
*.log
*.tmp
*.bak

# =========================
# Spring Boot
# =========================
/logs/
/application-local.properties
/application-dev.properties

# =========================
# Environment files
# =========================
.env